<app-menu></app-menu>
<div class="container">
  <div class="container-header">
    <div class="container-header-left">
      Accueil | {{ sneaker.category }} | {{ sneaker.marque }} | {{ sneaker.name }}
    </div>
    <div class="container-header-right">
      Partager sur <i class="fab fa-facebook-f"></i> <i class="fab fa-twitter"></i> <i class="fab fa-instagram"></i>
    </div>
  </div>
  <div class="container-body">
    <div class="container-body-left">
      <div class="container-body-left-top">
        <img src="{{ sneaker.images[0] }}">
      </div>
      <div class="container-body-left-bottom">
        <div *ngFor="let image of sneaker.images" style="width: 15%; margin-right: 20px;">
          <img src="{{ image }}" style="width: 100%">
        </div>
      </div>
    </div>
    <div class="container-body-right">
      <div class="container-body-right-top">
        <div class="container-body-right-top-1">
          <p>{{ sneaker.marque }}</p>
          <p>{{ sneaker.name }}</p>
          <p>{{ sneaker.price }}€</p>
        </div>
        <div class="container-body-right-top-2">
          <mat-form-field>
            <mat-select placeholder="Pointure" [formControl]="pointureControl" required>
              <mat-option *ngFor="let size of sneaker.sizes" [value]="size">
                {{ size }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="pointureControl.hasError('required')">Vous devez choisir une pointure.</mat-error>
          </mat-form-field>
        </div>
        <div class="container-body-right-top-3">
          <p>Guide des tailles</p>
          <button mat-raised-button color="primary">Ajouter au panier</button>
        </div>
      </div>
      <div class="container-body-right-bottom">
        <p>
          <mat-icon>local_shipping</mat-icon>
          Livraison gratuite à partir de 80€
        </p>
      </div>
    </div>
  </div>
</div>
