.container-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.container-body {
  display: flex;
  margin: 20px;
}

.container-body-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-body-left-top {
  width: 100%;
  margin: 20px;
}

.container-body-left-bottom {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: start;
}

.container-body-right {
  width: 40%;
}

.container-body-right-top {
  display: flex;
  flex-direction: column;
}

.container-body-right-top-1 {
  padding-left: 20px;
  border-left: 15px solid yellow;
}

.container-body-right-top-2, .container-body-right-top-3, .container-body-right-bottom {
  margin: 20px;
  padding-left: 20px;
}

.container-body-right-top-3 {
  display: flex;
  justify-content: space-between;
}
