.container-navbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container-navbar-first {
  display: flex;
  justify-content: space-around;
}

.container-navbar-first div {
  display: flex;
  margin: auto;
  width: 20%;
}

.container-navbar-first div p {
  margin: auto;
}

.example-icon {
  margin: auto;
}

.container-navbar-second {
  margin: auto;
}
