<div class="container-navbar">
  <div class="container-navbar-first">
    <div>
      <mat-icon class="example-icon">search</mat-icon>
      <input matInput placeholder="Recherche" style="width: 100%; border: none" type="search">
    </div>
    <div>
      <p>SHOP TA SNEAK</p>
    </div>
    <div>
      <mat-icon class="example-icon">account_circle</mat-icon>
      <p>Mon compte</p>
      <mat-icon class="example-icon">shopping_basket</mat-icon>
    </div>
  </div>
  <div class="container-navbar-second">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         [routerLink]="'/category/1'"
         [active]="true">Homme</a>
      <a mat-tab-link
         [routerLink]="'/category/2'"
         [active]="isActive">Femme</a>
      <a mat-tab-link
         [routerLink]="'/category/3'"
         [active]="isActive">Promotions</a>
    </nav>
  </div>
</div>
