.example-card {
  width: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container-card, .button-card {
  text-align: center;
}

.container-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
