<app-menu></app-menu>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around">
  <mat-card class="example-card" *ngFor="let sneaker of sneakers">
    <img mat-card-image src="{{ sneaker.images[0] }}" alt="{{ sneaker.name }}" style="height: 214px;">
    <mat-card-content class="container-card">
      <p>
        {{ sneaker.name }}
      </p>
      <p>
        {{ sneaker.marque}}
      </p>
      <p>
        {{ sneaker.price }} €
      </p>
    </mat-card-content>
    <mat-card-actions class="button-card">
      <button mat-raised-button color="primary"
              [routerLink]="['/sneakers/', sneaker.id]">Voir la paire</button>
    </mat-card-actions>
  </mat-card>
</div>
